.master-container {
    background-color: #d3d3d3;
    min-height: 500px;
}

.container{
    font-family: Arial;
    display: block;
    width: 40%;
    float: left;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 7px;
    background-color: antiquewhite;
    box-shadow: 10px 10px black;
    
}

.image-left{
    float: left;
    margin-right: 10px;
}

.image-right{
    float: right;
}

p{
    margin-left: 10px;
    margin-right: 10px;

    padding-left: 10px;
}